* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.hidden {
    display: none;
}

ul {
    text-align: left;
    width: 50%;
    margin: auto;
}